page-login {
  ion-content {
    //background-image: url('../../assets/imgs/login-bg1.png');
    //background-repeat: no-repeat;

    .login-button{
      width: 200px;
      height: 50px;
      border-radius: 25px;
      background: linear-gradient(257.2deg, #FE9A8B 39.32%, #FD868C 80.81%, #F9748F 140.89%);
    }

    .signup-text{
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 13px;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.7;
    }

    //.segment-md .segment-button.segment-activated {
    //  border-color: #F9748F;
    //  opacity: 1;
    //}
    //
    //.segment-md .segment-button{
    //  color: #F9748F;
    //}
    .button-md.activated{
      background-color: #F9748F;
    }


  }

  .item.item-input {
    background-color: transparent;
  }

  .text-input::-moz-placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }

  .text-input:-ms-input-placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }

  .text-input::-webkit-input-placeholder {
    //text-indent: 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }
  .login-img{
    background: url("../assets/imgs/login_bg.jpg") no-repeat;
    background-size: cover;
  }

  .client-bg {
    background: url("../assets/imgs/client-bg.svg.png") no-repeat;
    background-size: cover;
  }

  .freelancer-bg {
    background: url("../assets/imgs/client-bg.svg.png") no-repeat;
    background-size: cover;
    background-position: center;

    .text-input::-moz-placeholder {
      //color: #696F7B;
    }

    .text-input:-ms-input-placeholder {
      //color: #696F7B;
    }

    .text-input::-webkit-input-placeholder {
      //color: #696F7B;
    }
  }
  .forgot-pass{
    background: transparent;
    color: white;
  }
}
