page-confirm-booking {
  .review-outer{
    border-radius: 10px;
    margin-top: 70%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
  }
  .modal-title{
    color: #f9748f;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .modal-content{
    text-align: center;
    padding: 20px;
  }
  .confirm-submit{
    background-color: #f9748f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .cancel-submit{
    background-color: #f992b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .button-ios.activated{
    background-color: #f0bec8;
  }

  .rating-div{
    text-align: center;
  }
}
