page-filter-modal {
  .searchbar-ios {

  }

  .segment-ios .segment-button:first-of-type{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .segment-ios .segment-button:last-of-type{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .segment-ios .segment-button{
    border-color: #F9748F;
    color: #F9748F;
  }

  .segment-ios .segment-button.segment-activated{
    background-color: #F9748F;
  }

  .toggle-ios.toggle-checked .toggle-icon{
    background-color: #F9748F;
  }

  .rating-div{
    padding-top: 10px;
  }
  .service-seg{
    padding-top: 20px;
  }

  .apply-button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(257.2deg, #FE9A8B 39.32%, #FD868C 80.81%, #F9748F 140.89%);
  }

  //.range-ios .range-tick-active {
  //  background-color: #F9748F;
  //}

  .range-ios {
    padding: 0px 16px;
  }

  rating {
    ul {
      padding: 0px;
      margin: 0;
      &.rating li {
        padding: 0 !important;
        background: none;
        color: #f9748f;

        ion-icon {
          font-size: 15px;
        }
      }
    }
  }
}
