<!--
  Generated template for the FilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filters</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar
    [(ngModel)]="utils.filterKey"
    [showCancelButton]="false">
  </ion-searchbar>

  <div class="service-seg">
    <ion-row>
      <ion-col col-4>
        <ion-label>Type</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-segment [(ngModel)]="utils.serviceSelected"  mode="ios" style="margin:5px;">
          <ion-segment-button *ngFor="let service of freelancerServ; let i=index" [value]="service.title" (ionSelect)="serviceIndex=i;utils.subServiceSelected='';">
            {{service.title}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="utils.serviceSelected">
      <ion-col col-4>
        <ion-label>Sub Type</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-select interface="popover" text-center placeholder="Select Service Sub Type" [(ngModel)]="utils.subServiceSelected"  mode="ios" style="margin:5px;">
          <ion-option *ngFor="let list of freelancerServ[serviceIndex].list" [value]="list.name">
            {{list.name}}
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </div>

  <ion-row class="days-seg">
    <ion-col><span>Days</span></ion-col>
    <ion-col>
      <ion-select interface="popover" multiple="true" text-center placeholder="Select Days" [(ngModel)]="utils.filterDays" mode="ios">
        <ion-option *ngFor="let day of days" [value]="day">{{day.toUpperCase()}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="rating-div">
    <ion-col col-6>
      <span>
        Rating
      </span>
    </ion-col>
    <ion-col col-6 style="text-align: end">
      <rating [(ngModel)]="utils.filterRating"
              readOnly="false"
              max="5"
              emptyStarIconName="star-outline"
              halfStarIconName="star-half"
              starIconName="star"
              nullable="false">
        <!--(ngModelChange)="onModelChange($event)">-->
      </rating>
    </ion-col>
  </ion-row>

  <div style="padding: 5px">
    <ion-label>Distance {{utils.filterDistance}}</ion-label>
    <ion-range min="5" max="25" step="5" snaps="true" [(ngModel)]="utils.filterDistance" color="mei"></ion-range>
  </div>

  <ion-row style="padding: 5px">
    <ion-label>Willing to travel?</ion-label>
    <ion-toggle [(ngModel)]="utils.filterTravelFlag" mode="ios"></ion-toggle>
  </ion-row>

  <div style="text-align: center; margin-top: 20px">
    <ion-row>
      <ion-col col-6>
        <button ion-button class="apply-button" (click)="reset()">Reset</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="apply-button" (click)="dismiss()">Apply</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
