page-profile-edit {
  .save-button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #F9748F;
    margin-top: 10px;
  }

  .day-button{
    background-color: white;
    height: 2.5rem !important;
    font-size: 14px !important;
    border-radius: 15px;
    color: rgba(253,134,140,0.35);
  }

  .mon-select{
    background-color: #F9748F;
    color: white;
  }
  .form-error-text{
    margin-top: 4px;
    margin-bottom: 4px;
    color: #f97d5c;
    font-size: 11px;
    padding-left: 16px;
  }
}
