<!--
  Generated template for the ClientBookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: pink;"></ion-icon>
    </button>
    <img src="assets/imgs/mei_navbar_logo.png">
  </ion-navbar>
</ion-header>


<ion-content>
  <div>
    <ion-segment [(ngModel)]="option" mode="md" (ionChange)="tabChanged($event)">
      <ion-segment-button value="current">
        CURRENT
      </ion-segment-button>
      <ion-segment-button value="past">
        PAST
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="option" padding>
    <ion-list *ngSwitchCase="'current'">

      <div mode="ios" *ngFor="let l of bookingsData; let i=index">
        <ion-row (click)="navigate(l)">
          <ion-col col-3 align-items-center>
            <!--<ion-icon class="icon-pad"></ion-icon>-->
            <ion-row class="time-start">{{l.startTime}}</ion-row>
            <ion-row class="time-end">{{l.date}}</ion-row>
          </ion-col>
          <ion-col col-9>
            <div>
              <div class="service-title">{{l.name}}</div>
              <div class="service-desc">
                {{l.address}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'past'">
      <div mode="ios" *ngFor="let l of bookingsData; let i=index">
        <ion-row (click)="navigate(l)">
          <ion-col col-3 align-items-center>
            <!--<ion-icon class="icon-pad"></ion-icon>-->
            <ion-row class="time-start">{{l.startTime}}</ion-row>
            <ion-row class="time-end">{{l.date}}</ion-row>
          </ion-col>
          <ion-col col-9>
            <div>
              <div class="service-title">{{l.name}}</div>
              <div class="service-desc">
                {{l.address}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>

</ion-content>
