<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: pink;"></ion-icon>
    </button>
    <img src="assets/imgs/mei_navbar_logo.png">
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-select [(ngModel)]="chartType" ionChange="onChange($event)">
    <ion-option value="Month">Month</ion-option>
    <ion-option value="Day">Day</ion-option>
  </ion-select> -->

  <div padding>
    <ion-segment mode="ios" [(ngModel)]="chartType" (ionChange)="changeChart()">
      <ion-segment-button value="Day">
        Day
      </ion-segment-button>
      <ion-segment-button value="Month">
        Month
      </ion-segment-button>
      <ion-segment-button value="Year">
        Year
      </ion-segment-button>
      <ion-segment-button value="Overall">
        Overall
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="chartType">

    <div *ngSwitchCase="'Day'">
      <div class="floatLeft mei-color ub-regular side-font2">Earned - Day of {{currentDay}}<br>
        <div class="mei-color ub-medium side-font3">{{walletData.totalForDay | currency}}</div>
      </div>
    </div>

    <div *ngSwitchCase="'Month'">
      <div class="floatLeft mei-color ub-regular side-font2">Earned - Month of {{currentMonth}}<br>
        <div class="mei-color ub-medium side-font3">{{walletData.totalForMonth | currency}}</div>
      </div>
  </div>

  <div *ngSwitchCase="'Year'">
    <div class="floatLeft mei-color ub-regular side-font2">Earned - Year of {{currentYear}}<br>
      <div class="mei-color ub-medium side-font3">{{walletData.totalForYear | currency}}</div>
    </div>
  </div>

  <div *ngSwitchCase="'Overall'">
    <div class="floatLeft mei-color ub-regular side-font2">Earned - Overall <br>
      <div class="mei-color ub-medium side-font3">{{walletData.totalForOverall | currency}}</div>
      </div>
  </div>


   <!--<div (click)="changeChart()" class="floatRight light-grey ub-medium side-font">{{chartType}} <i class="fa fa-angle-down" aria-hidden="true"></i></div>-->
   <!--<div class="fix"></div>-->

  <div id="Chart"></div>

  </div>

  <ion-segment [(ngModel)]="activity" mode="md">
      <ion-segment-button value="act">
        Activity
      </ion-segment-button>
      <ion-segment-button value="sum">
        Summary
      </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="activity">
    <div *ngSwitchCase="'act'">
      <div [ngSwitch]="chartType">
        <div *ngSwitchCase="'Day'">
            <ion-list>
                <ion-item *ngFor="let item of dayClient">
                  <div class="floatLeft marginTop">
                    <h3 class="ub-medium list-title dark-grey">{{item.clientName}} </h3>
                    <div class="ub-regular light-grey list-item-font">{{item.service_name}} <i class="fa fa-circle small-font" aria-hidden="true"></i> {{item.date}}  </div>
                  </div>
                  <div class="floatRight ub-medium mei-color price-font marginTop">${{item.cost}}</div>
                </ion-item>
            </ion-list>
        </div>
        <div *ngSwitchCase="'Month'">
          <ion-list>
            <ion-item *ngFor="let item of monthClient">
              <div class="floatLeft marginTop">
                <h3 class="ub-medium list-title dark-grey">{{item.clientName}} </h3>
                  <div class="ub-regular light-grey list-item-font">{{item.service_name}} <i class="fa fa-circle small-font" aria-hidden="true"></i> {{item.date}}  </div>
                </div>
             <div class="floatRight ub-medium mei-color price-font marginTop">${{item.cost}}</div>

            </ion-item>

         </ion-list>


      </div>
      <div *ngSwitchCase="'Year'">

          <ion-list>
              <ion-item *ngFor="let item of yearClient">
                <div class="floatLeft marginTop">
                  <h3 class="ub-medium list-title dark-grey">{{item.clientName}} </h3>
                    <div class="ub-regular light-grey list-item-font">{{item.service_name}} <i class="fa fa-circle small-font" aria-hidden="true"></i> {{item.date}}  </div>
                  </div>
               <div class="floatRight ub-medium mei-color price-font marginTop">${{item.cost}}</div>

              </ion-item>

           </ion-list>


      </div>
      <div *ngSwitchCase="'Overall'">
          <ion-list>
              <ion-item *ngFor="let item of overallClient">
                <div class="floatLeft marginTop">
                  <h3 class="ub-medium list-title dark-grey">{{item.clientName}} </h3>
                    <div class="ub-regular light-grey list-item-font">{{item.service_name}} <i class="fa fa-circle small-font" aria-hidden="true"></i> {{item.date}}  </div>
                  </div>
               <div class="floatRight ub-medium mei-color price-font marginTop">${{item.cost}}</div>

              </ion-item>

           </ion-list>

      </div>




      </div>


    </div>

        <div *ngSwitchCase="'sum'">
            <div [ngSwitch]="chartType">

                <div *ngSwitchCase="'Day'">
                  <ion-grid class="small-margin">
                    <ion-row text-center>
                      <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.dayBreakup?.hair > 0)?(walletData.dayBreakup?.hair | currency):'$---'}}<br>
                       <span class="ub-medium light-grey font-col2">HAIR</span>

                     </ion-col>
                      <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.dayBreakup?.makeup > 0)?(walletData.dayBreakup?.makeup | currency):'$---'}}<br>
                       <span class="ub-medium light-grey font-col2"> MAKEUP</span>
                     </ion-col>
                      <ion-col class="ub-medium mei-color font-col1">{{(walletData.dayBreakup?.body > 0)?(walletData.dayBreakup?.body | currency):'$---'}}<br>
                       <span class="ub-medium light-grey font-col2">BODY </span>
                     </ion-col>
                    </ion-row>
                  </ion-grid>

             <p class="para-font ub-medium dark-grey">So far on {{ currentDay }}, you have earned <span class="mei-color fontwt">{{(walletData.totalForDay > 0)?(walletData.totalForDay | currency):'$---'}}</span> </p>

                </div>
                <div *ngSwitchCase="'Month'">
                 <ion-grid class="small-margin">
                   <ion-row text-center>
                     <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.monthBreakup.hair > 0)?(walletData.monthBreakup.hair | currency):'$---'}}<br>
                      <span class="ub-medium light-grey font-col2">HAIR</span>

                    </ion-col>
                     <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.monthBreakup.makeup > 0)?(walletData.monthBreakup.makeup | currency):'$---'}}<br>
                      <span class="ub-medium light-grey font-col2"> MAKEUP</span>
                    </ion-col>
                     <ion-col class="ub-medium mei-color font-col1">{{(walletData.monthBreakup.body > 0)?(walletData.monthBreakup.body | currency):'$---'}}<br>
                      <span class="ub-medium light-grey font-col2">BODY </span>
                    </ion-col>
                   </ion-row>
                 </ion-grid>

            <p class="para-font ub-medium dark-grey">So far in {{ currentMonth }}, you have earned <span class="mei-color fontwt">{{(walletData.totalForMonth > 0)?(walletData.totalForMonth | currency):'$---'}}</span> </p>
              </div>
              <div *ngSwitchCase="'Year'">

                <ion-grid class="small-margin">
                  <ion-row text-center>
                    <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.yearBreakup.hair > 0)?(walletData.yearBreakup.hair | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2">HAIR</span>

                   </ion-col>
                    <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.yearBreakup.makeup > 0)?(walletData.yearBreakup.makeup | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2"> MAKEUP</span>
                   </ion-col>
                    <ion-col class="ub-medium mei-color font-col1">{{(walletData.yearBreakup.body > 0)?(walletData.yearBreakup.body | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2">BODY </span>
                   </ion-col>
                  </ion-row>
                </ion-grid>

           <p class="para-font ub-medium dark-grey">So far in {{currentYear}}, you have earned <span class="mei-color fontwt">{{(walletData.totalForYear > 0)?(walletData.totalForYear | currency):'$---'}}</span> </p>


              </div>
              <div *ngSwitchCase="'Overall'">
                <ion-grid class="small-margin">
                  <ion-row text-center>
                    <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.overallBreakup.hair > 0)?(walletData.overallBreakup.hair | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2">HAIR</span>

                   </ion-col>
                    <ion-col class="grey-border ub-medium mei-color font-col1">{{(walletData.overallBreakup.makeup > 0)?(walletData.overallBreakup.makeup | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2"> MAKEUP</span>
                   </ion-col>
                    <ion-col class="ub-medium mei-color font-col1">{{(walletData.overallBreakup.body > 0)?(walletData.overallBreakup.body | currency):'$---'}}<br>
                     <span class="ub-medium light-grey font-col2">BODY </span>
                   </ion-col>
                  </ion-row>
                </ion-grid>

           <p class="para-font ub-medium dark-grey">So far, you have earned <span class="mei-color fontwt">{{(walletData.totalForOverall > 0)?(walletData.totalForOverall | currency):'$---'}}</span> </p>


              </div>




              </div>

      </div>
</div>
</ion-content>
