// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.segment-md .segment-button.segment-activated {
  border-color: #f9748f;
  opacity: 1;
}

.segment-md .segment-button {
  color: #f9748f;
}

.text-input::-moz-placeholder {
  color: #696f7b;
  font-size: 12px;
  font-weight: bold;
}

.text-input:-ms-input-placeholder {
  color: #696f7b;
  font-size: 12px;
  font-weight: bold;
}

.text-input::-webkit-input-placeholder {
  //text-indent: 0;
  color: #696f7b;
  font-size: 12px;
  font-weight: bold;
}

input {
  font-size: 12px;
  font-weight: bold;
}

ion-header ion-icon.back-button-icon.icon {
  color: #f9748f;
}
.back-button-text {
  color: #f9748f;
}
.toolbar-title {
  color: #f9748f;
}

.mei-card {
  margin: 0px !important;
  width: 100% !important;
}

.toolbar-background {
  background-color: white;
  border-bottom: 1px solid #dbdbdb !important;
}

.header::after {
  background-image: unset;
}

.no-scroll .scroll-content {
  overflow: hidden !important;
}

* {
  font-family: Ubuntu;
}

.margin-tb-auto{
  margin: auto 0px;
}

.toolbar-content {
  text-align: center;
}

.back-button {
  z-index: 1;
}

//css hourglass loader - start
.loading-md .loading-wrapper {
  background-color: transparent;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #f9748f;
  border-color: #f9748f transparent #f9748f transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
//css hourglass loader - end

// require fields '*'
ion-input[required]:after, ion-select[required]:after{
  content: " *";
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}
