page-forgot-pass {
  .login-img{
    background: url("../assets/imgs/client-bg.svg.png") no-repeat;
    background-size: cover;
  }

  .item.item-input {
    background-color: transparent;
  }

  .text-input::-moz-placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }

  .text-input:-ms-input-placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }

  .text-input::-webkit-input-placeholder {
    //text-indent: 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
  }

  .button-md.activated{
    background-color: #F9748F;
  }

  .login-button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(257.2deg, #FE9A8B 39.32%, #FD868C 80.81%, #F9748F 140.89%);
  }
}
