page-sidemenu {
  .sidemenu{
    //background-color: #F9748F;
    //background-image: url("../../assets/imgs/sidemenu_lines.png");
    background: url(../../assets/imgs/sidemenu_bg.png);
    background-size: cover;

  }
  .profile{
    padding-top: 30px;
    margin: auto;
    width: 50%;
  }

  .avatar{
    margin: auto;
    width: 75%;
  }

  .profile-text{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'San Francisco',Helvetica,Arial,serif;
    color: #FFFFFF;
    text-align: center;
  }

  .sidemenu-lines{
    margin-left: 0;
    position: absolute;
    opacity: 0.28;
    height: fit-content;
    transform: scale(1.35);
  }

  .nav{
    margin: auto;
    width: 50%;
    margin-top: 60%;
  }

  .nav-titles{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;

    color: #FFFFFF;
    mix-blend-mode: normal;
    //opacity: 0.45;
    text-align: center;
    //line-height: 18.0px;
    margin-top: 30px;
  }

  .button-text-sidemenu{
    color: #FFFFFF;
    margin-bottom: 25px;
    opacity: 0.24;
  }

  .button-selected{
    opacity: 1;
  }
  .button-not-selected{

  }
}
