<!--
  Generated template for the BookingDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-buttons left>-->
    <!--<ion-icon class="icon-left" color="mei" name="arrow-back"></ion-icon>-->
    <!--</ion-buttons>-->
    <ion-title text-center>Booking Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div (click)="openMap()" #map id="map"></div>
  <div padding>

    <div class="div1">

      <div class="ub-medium dark-grey client-name">{{bookingData.name}}</div>

      <div class="ub-medium light-grey client-address"><a href="{{utils.mapSearchUrl + '&query=' + jlatLng?.lat+','+jlatLng?.lng}}" target="_blank">{{bookingData.address}}</a></div>

    </div>

    <hr class="customhr">


    <div class="div2 ub-regular">
      <div class="floatLeft">
        <img src="./assets/imgs/calendar.png" height="25px" width="25px">
      </div>
      <div class="floatLeft marginLeft dark-grey small-padding"> {{bookingData.date}}</div>
      <div class="fix"></div>
      <div class="clockDiv">
        <div class="floatLeft">
          <img src="./assets/imgs/clock.png" height="25px" width="25px">
        </div>
        <div class="floatLeft marginLeft dark-grey small-padding">
          {{bookingData.startTime}} - {{bookingData.endTime}}
        </div>
      </div>
      <div class="fix"></div>
    </div>

    <hr class="customhr">

    <div class="div3 ub-medium">
      <div class="floatLeft dark-grey font1"> Services</div>
      <div class="floatRight font1 mei-color ">{{bookingData.serviceTotal}}</div>
      <div class="fix"></div>
      <div class="bottom-spacer"></div>

      <div class="service-list dark-grey ub-medium" *ngFor=" let item of bookingData.services">
        <div class="floatLeft ">{{item.quantity}} x {{item.serviceName}}</div>
        <div class="floatRight">${{item.price || 0}}</div>
        <div class="fix"></div>
        <div class="bottom-spacer2"></div>

      </div>

      <div *ngIf="client">

        <div class="floatLeft light-grey">Commision & PP Fees ({{ bookingData?.commision?.percentage || 0 }}%)</div>
        <div [class.strike]="bookingData?.commision?.commisionWaive" class="floatRight light-grey">
          ${{bookingData?.commision?.percent_amt || 0}}
        </div>
        <div class="fix"></div>
        <div class="bottom-spacer2"></div>
        <div class="dark-grey floatLeft">Total Earned</div>
        <div class="dark-grey floatRight">{{bookingData.serviceTotal}}</div>
        <div class="fix"></div>
      </div>
      <hr class="customhr">
      <p text-right *ngIf="bookingData.confirm != null">
        <button ion-button round class="disp-button ub-medium" (click)="raiseAlert()"> RAISE A DISPUTE</button>
      </p>
      <div text-center *ngIf="bookingData.confirm == null && utils.profile.type != 'client'">
        <ion-row>
          <ion-col>
            <button ion-button round class="disp-button ub-medium" (click)="confirmBooking('false')">Cancel</button>
          </ion-col>
          <ion-col>
            <button ion-button round class="disp-button ub-medium" (click)="confirmBooking('true')">Confirm</button>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </div>
</ion-content>
