page-signup {
  .signup-button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(257.2deg, #FE9A8B 39.32%, #FD868C 80.81%, #F9748F 140.89%);
  }

  .insta-button{
    width: 300px;
    height: 35px;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    font-size: 12px;
    background: linear-gradient(264.41deg, #FF9455 43.33%, #F35369 92.23%, #B74E9C 145.3%);
  }

  .day-button{
    background-color: white;
    height: 2.5rem;
    border-radius: 15px;
    color: rgba(253,134,140,0.35);
  }

  .weekday-badge{
    display: inline-block;
    border-radius: 20%;
    padding: 3.5px;
    margin-top: 10px;
    border-style: solid;
    border-color: rgba(253,134,140,0.35);
    color: rgba(253,134,140,0.35);
    line-height: 10px;
  }

  .mon-select{
    background-color: #F9748F;
    color: white;
  }

  .button-md.activated{
    background-color: #F9748F;
    color: white;
  }

  .invalid {
    border: 1px solid #ea6153;
  }

  .q-text{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .service-title{
    font-size: 16.0px !important;
    color: #696f7b;
  }
  .service-desc{
    font-size: 12.0px;
    color: #d4d4d4;
  }

  .service-header{
    color: #696f7b;
    font-size: 16.0px;
  }

  .icon-pad{
    padding-left: 10px;
    font-size: 25px;
  }
  .ion-selected{
    color: #F9748F;
  }

  .img-col{
    padding: 0;
  }
  .img-col img{
    height: 125px;
  }

}
