page-my-booking2 {

  .profile-frame{
    margin-bottom: 20px;
  }

  .profile-text-main{
    //padding-top: 10px;
    font-size: 17px;
    font-family: 'San Francisco',Helvetica,Arial,serif;
    //color: #FFFFFF;
    //text-align: center;
  }
  .location-text-main{
    //padding-top: 10px;
    font-size: 12px;
    font-family: 'San Francisco',Helvetica,Arial,serif;
    //color: #FFFFFF;
    //text-align: center;
  }

  .profile-img{
    border-radius: 40px;
  }


  .card-title{
    line-height: 41px;
    border-radius: 20px;
    height: 40px;
    background-color: #d4d4d4;
    color: #FFFFFF;
    padding-left: 20px;
  }

  .card-details{
    margin-top: 20px;
    background: linear-gradient(227.74deg, #FE9A8B 0.2%, #FD868C 40.08%, #F9748F 97.82%);
    border-radius: 25px;
  }

  .card-name{
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    padding-bottom: 35px;
  }

  .card-number{
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .cvvexp{
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    //width: 50%;
    //margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .cvv{
    //padding-left: 15%;
    font-size: 16px;
    color: white;
    padding-left: 10px;
  }
  .exp{
    //padding-left: 15%;
    font-size: 16px;
    color: white;
    padding-left: 10px;
  }

  .footer-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

  .next-btn{
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(201, 76, 76, 0);
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
  }

  #payment-form{
    color: white;
    padding: 10px;
  }
  #card-element{
    padding-top: 10px;
    padding-bottom: 5px;
  }

}
