<!--
  Generated template for the MyBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar mode="ios">
    <ion-title text-center>My Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-row class="profile-frame">-->
    <!--<div>-->
      <!--<div>-->
        <!--<img class="profile-img" src="assets/imgs/user.png">-->
      <!--</div>-->
    <!--</div>-->
    <!--<ion-col>-->
      <!--<ion-row>-->
        <!--<div class="profile-text-main">{{profileData.first_name}} {{profileData.last_name}}</div>-->

      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<div class="location-text-main">{{profileData.address}}</div>-->
      <!--</ion-row>-->
    <!--</ion-col>-->
  <!--</ion-row>-->

  <!--<ion-item>-->
    <!--{{selectedDate}}-->
  <!--</ion-item>-->
  <ion-row>
    <ion-col col-3>
      <img  class="profile-img" src="{{profileData.profile_pic ? (profileData.profile_pic.includes('http') ? profileData.profile_pic : utilsProvider.photoUrl + profileData.profile_pic) : 'assets/imgs/user.png'}}">
    </ion-col>
    <ion-col col-9>
      <ion-row>
        <div class="profile-text-main">{{profileData.first_name}} {{profileData.last_name}}</div>
      </ion-row>
      <ion-row>
        <div class="location-text-main">{{profileData.address}}</div>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>S</ion-col>
        <ion-col>M</ion-col>
        <ion-col>T</ion-col>
        <ion-col>W</ion-col>
        <ion-col>T</ion-col>
        <ion-col>F</ion-col>
        <ion-col>S</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span class="currentDate" *ngIf="currentDate === day.num;">{{day.num}}</span>
          <span class="otherDate" *ngIf="currentDate !== day.num;" [class.selected-date]="day.isSelected">
            {{day.num}}
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </span>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-scroll scrollX="true" class="time-scrollbar">
    <div class="time-select">
      <div *ngFor="let s of schedule.sch">
        <button class="time-badge" [class.time-selected]="s.selected" (click)="timeSelect(s)" ion-button mode="md">{{s.time}}</button>
      </div>
    </div>
  </ion-scroll>

  <img class="footer-img" src="assets/imgs/mybooking1.png">
  <img class="footer-img" src="assets/imgs/mybooking2.png">
  <div class="next-btn" (click)="navigate()">NEXT</div>
</ion-content>
